/* Universal Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: black;
}

/* Headder Styles */
.header{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header h1{
  color: #fff;
  font-size: 35px;
  margin-bottom: 40px;
}
.header a{
  color: Aquamarine;
}
